@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.box-wrapper {
  box-shadow: 0 8px 32px 0 #66666629;
  border-radius: 20px; /* اگر نیاز داری */
}
.box-payment {
  padding-bottom: 40px;
  mask: radial-gradient(15px at bottom, #0000 calc(100% - 1px), #000) 50%/27.75px 100%;
  -webkit-mask: radial-gradient(15px at bottom, #0000 calc(100% - 1px), #000) 50%/27.75px 100%;
}

.liner-shop-bg-white {
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 52.12%, #fafafa 100%);
}
.liner-shop-bg-dark {
  background: linear-gradient(180deg, rgba(38, 38, 38, 0) 52.12%, #262626 100%);
}

.liner-introduction-white {
  background: linear-gradient(
    90deg,
    rgba(229, 231, 235, 0) 0%,
    rgba(229, 231, 235, 0.48) 50%,
    rgba(229, 231, 235, 0) 100%
  );
}
.liner-introduction-dark {
  background: linear-gradient(
    90deg,
    rgba(229, 231, 235, 0) 0%,
    rgba(229, 231, 235, 0.072) 50%,
    rgba(229, 231, 235, 0) 100%
  );
}

.liner-currency-dark {
  background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0) 50%, #262626 100%);
}
.liner-currency-white {
  background: linear-gradient(180deg, #fafafa 0%, rgba(250, 250, 250, 0) 50%, #fafafa 100%);
}

.shadow-box {
  box-shadow: 0px 1px 5px -1px #0000001f;

  box-shadow: 0px 1px 6px 0px #0000000f;
}
